/**
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body { font-family: 'Roboto', sans-serif; }
**/

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100vw;
}

.button-container {
  margin: 10px;
}

/*** star-buttons ***/
section.star-buttons .star-button-bg-thin {
  background-color: #a0a0a0 !important;
}

/*** distribute ***/
section.distribute .mdc-dialog .mdc-dialog__header { }
section.distribute .mdc-dialog .mdc-dialog__content {
  padding-top: 0;
  padding-bottom: 0;
}
section.distribute .mdc-dialog .mdc-dialog__footer {
  padding: 9px 24px 0;
}
section.distribute .distribute-card {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
section.distribute .distribute-card[data-distribute-card-star-limit]::after {
  content: "<< " attr(data-distribute-card-star-limit) " >>";
  color: gray;
}
section.distribute .distribute-card .distribute-card__item {
  align-self: center;
  width: 100%;
}
section.distribute .distribute-card .distribute-card__item::after {
  content: " × " attr(data-distribute-card-quantity);
}
section.distribute .distribute-reset-count {
  padding: 10px;
}
section.distribute .distribute-reset-count__button {
  display: block;
  margin: 0 auto;
}
section.distribute .distribute-necessary-and-total {
  padding: 5px;
}

input[name=current-level],
input[name=target-level],
input[name=at-next] {
  width: 200px;
}

/*** @media ***/
@media (max-width: 600px) and (max-height: 960px) {
  .mdc-dialog.mdc-dialog--fullscreen .mdc-dialog__surface .mdc-dialog__footer {
    padding: 9px 16px 0;
  }
}
