/**
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body { font-family: 'Roboto', sans-serif; }
**/

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

a {
  text-decoration: none;
}

.button-container {
  margin: 10px;
}

.star-button-bg-thin {
  background-color: #a0a0a0 !important;
}

.distribute-card {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.distribute-card .distribute-card__item {
  align-self: center;
  width: 100%;
}
.distribute-card .distribute-card__item::after {
  content: " × " attr(data-distribute-card-quantity);
}
.distribute-reset-count {
  padding: 10px;
}
.distribute-reset-count__button {
  display: block;
  margin: 0 auto;
}

input[name=current-level],
input[name=target-level],
input[name=at-next] {
  width: 200px;
}
